<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="center">
        <h1> enter otp</h1>
        <form>
          <div class="inputbox">
            <input type="text" required="required">
            <span>otp</span>
          </div>
          <div class="inputbox">
            <input type="button" value="login">
            </a>
          </div>
          <div class="inputbox">
            <a href="{% url 'loginpage' %}">
            <input type="button" value="back">
        </a>
            
          </div>
        </form>
      </div>



    
</body>
</html>