<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newuser</title>
    {% load static %}
    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<style>
  .inputbox input .submit:hover {
      background-color: darkblue;
  }
</style>


<body>
   


    <div class="center">
        <h1> newuser</h1>


        
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}




        <form method="POST">
    {%csrf_token%}

          <div class="inputbox">
            <input type="text" name="phone" required="required">
            <span>phone</span>
          </div>
          <div class="inputbox">
            <input type="text" name="passd"required="required">
            <span>Password</span>
          </div>
          <div class="inputbox">
            <a href="{% url 'hpage' %}">
            <input style=" width: 50%;
            background: dodgerblue;
            color: #fff;
            border: #fff;"       
            type="submit"  value="create">
            </a>
          </div>
          <div class="inputbox">
            <a href="{% url 'loginpage' %}">
            <input type="button" value="back">
        </a>
            
          </div>
        </form>
      </div>



</body>
</html>